<div class="container">
  <div class="py-5">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <img src="{{images.0.url}}" style="border-radius: 50%;">
        </div>
        <ul class="pt-3 list-group list-group-flush">
          <li class="list-group-item">
            <a class="text-reset lead">Display name</a>
            <footer><a class="text-muted">{{display_name}}</a></footer>
          </li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="text-reset lead">Id</a>
            <footer><a class="text-muted">{{id}}</a></footer>
          </li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="text-reset lead">Email</a>
            <footer><a class="text-muted">{{email}}</a></footer>
          </li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="text-reset lead">Spotify URI</a>
            <footer><a class="text-success" href="{{external_urls.spotify}}">{{external_urls.spotify}}</a></footer>
          </li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="text-reset lead">Link</a>
            <footer><a class="text-success" href="{{href}}">{{href}}</a></footer>
          </li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="text-reset lead">Profile Image</a>
            <footer><a class="text-success" href="{{images.0.url}}">{{images.0.url}}</small></a>
          </li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="text-reset lead">Country</a>
            <footer><a class="text-muted">{{country}}</a></footer>
          </li>
        </ul>
      </div>
    </div>
    <div class="pb-4">
      <a href="/tracks" role="button" class="float-right btn-block btn-lg btn btn-success">Next Step</a>
    </div>
  </div>
</div>