<div class="container">
    <div class="text-center py-3">
        <span style="font-size: 38px" class="lead text-bold text-success">
            Top-10 <span class="text-dark">
                Tracks</span>
        </span>
        <footer align="left" class="lead text-muted">Below are 10 songs that you have been listening to most. Based on
            the song that you will pick, we will put you in a group with similar minded people. The task for you and
            your group members is to create a playlist. With your group members you will need to come to an agreement on
            which song to add to the playlist.
        </footer>
    </div>
    {{#if tracks.length}}

    <ul class="list-group list-group-flush">
        {{#each tracks}}
        <li class="media">
            <img src={{this.album.images.[0].url}} style="width:75px;" class="mx-3 mt-4 rounded-circle">
            <div class="media-body list-group-item">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="mt-0 mb-1"><span class="text-success">{{this.name}}</span></h5>
                        <footer class="blockquote-footer">
                            <cite title="Source Title">
                                {{#each this.artists}}
                                {{this.name}}{{#if @last}}{{else}}<span>,</span>{{/if}}
                                {{/each}}
                            </cite>
                        </footer>
                        {{#if this.preview_url}}
                        <audio controls class="embed-responsive-item pt-2">
                            <source src="{{this.preview_url}}">
                        </audio>
                        {{else}}
                        <span class="text-muted font-weight-light">
                            (Unfortunately there is no preview available for this song)
                        </span>
                        {{/if}}
                    </div>

                    <div>
                        <a href="/recommendation/{{this.id}}" role="button" class="btn btn-outline-info">I choose this
                            song</a>
                    </div>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <hr>
    <div class="p-5 text-center">
        <span class="lead text-muted">
            Unfortunately your Spotify listening history has returned empty. This means that you do not have listened to a sufficient amount of songs to display and cannot continue at this moment.
        </span>
    </div>
    {{/if}}
</div>

{{!-- <script>
    let haveBeenSong = getCookie("haveBeen")
    setCookie("haveBeen", null)
    if (haveBeenSong) {
        $("#backAlert").show();
    }
</script> --}}

<style>
    .tracks {
        width: 600px;
    }
</style>